{% extends "base_site.html" %}

{% block title %} {{ page_title }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">

  <link href="/static/css/annotation_gallery.css?123" rel="stylesheet">
  <!--<link href="{{ url_for('static', filename='css/annotation_gallery.css') }}" rel="stylesheet">-->
  <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/masonry/masonry.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/chroma/chroma.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/annotation_gallery.js') }}"></script>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">      
          <div class="x_panel">
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Help</h4>
                  </div>
                  <div class="modal-body">
                    <h4>Title toolbox</h4>
                    <p>Below are listed the actions that performs the page toolbox icons.</p>
                    <ul>
                      <li><i class="fa fa-info-circle"></i> Shows this window.
                      <li><i class="fa fa-search-plus"></i> Increases the size of the images.
                      </li>
                      <li><i class="fa fa-search-minus"></i> Decreases the size of the images.
                      </li>
                      <li><i class="fa fa-wrench"></i> Additional options and configuration:
                        <ul>
                          <li><b>Toggle bbox proposals</b>: Shows/Hides the proposal bounding boxes on all the images</li>
                          <li><b>Toggle Zoom All</b>: Toggles the zoom for all the images</li>
                        </ul>
                      </li>
                      <li><div class="btn btn-primary btn-xs">
                        <i class="fa fa-mail-reply"> </i> Go Back
                      </div> Returns to the selection page.</li>
                      {% if type == 'revise' %}
                      <li><div class="btn btn-info btn-xs">
                        <i class="fa fa-chevron-left"> </i>
                      </div> Goes to the previous page.</li>
                      <li><div class="btn btn-default btn-xs">
                        {{ page }}
                      </div> Indicates the page where you are.</li>
                      <li><div class="btn btn-info btn-xs">
                        <i class="fa fa-chevron-right"> </i>
                      </div> Got to the next page.</li>
                      {% endif %}
                      <li><div class="btn btn-success btn-xs">
                          <i class="fa fa-cloud-upload"> </i> Submit
                      </div> Sends the data to the server.</li>
                    </ul>
                    <h4>Image Buttons</h4>
                    <p>Below are listed the actions that can be performed using the top buttons placed on top of each image.</p>
                    <ul>
                      <li><div class="btn btn-danger btn-xs"><i class="fa fa-remove"> </i> Delete</div> Remove the current bounding box (because the selected bounding box is part of the background or the object do not fits on any category)</li>
                      <li><div class="btn btn-warning btn-xs"><i class="fa fa-undo"> </i> Reset</div> Restore the original category and bounding box</li>
                      <li><div class="btn btn-info btn-xs"><i class="fa fa-search"> </i> Zoom</div> Toggles a zoom that fits the bounding box or restores the original view</li>
                      <li><div class="btn btn-primary btn-xs"><i class="fa fa-edit"> </i> Details</div> Show details of the current bounding box, including automatic detections</li>
                    </ul>
                    <h4>Mouse Controls</h4>
                    <p>These are the actions than can be performed using the mouse:</p>
                    <ul>
                      <li><b>Scroll</b>: Zoom in an out</li>
                      <li><b>Select</b>: You can select an image by clicking on it.</li>
                      <li><b>Drag</b>: You can drag the bounding box or the view depending on where you click.</li>
                      <li><b>Resize</b>: If you click and drag on the corners of the bounding box, you can adjust its size.</li>
                    </ul>
                    <h4>Keyboard Controls</h4>
                    <p>These are the actions than can be performed using the keyboard:</p>
                    <ul>
                      <li><b>Left arrow</b>: Selects the previous image.</li>
                      <li><b>Right arrow</b>: Selects the next image.</li>
                      <li><b>Up arrow</b>: Switch between the proposed categories.</li>
                      <li><b>Down arrow</b>: Switch between the proposed bounding boxes.</li>
                      <li><b>Left arrow + Shift</b>: Decreases the width of the bounding box.</li>
                      <li><b>Right arrow + Shift</b>: Increases the width of the bounding box.</li>
                      <li><b>Up arrow + Shift</b>: Increases the height of the bounding box.</li>
                      <li><b>Down arrow + Shift</b>: Decreases the height of the bounding box.</li>
                      <li><b>Left arrow + Ctrl</b>: Moves left the bounding box.</li>
                      <li><b>Right arrow + Ctrl</b>: Moves right the bounding box.</li>
                      <li><b>Up arrow + Ctrl</b>: Moves Up the bounding box.</li>
                      <li><b>Down arrow + Ctrl</b>: Moves Down the bounding box.</li>
                      <li><b>Space bar</b>: Toggles zoom Button.</li>
                      <li><b>Del/BackSpace</b>: Toggles delete Button.</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="modal fade annotation_info" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-annotation_info modal-lg-annotation_info">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Annotation Details</h4>
                  </div>
                  <div class="modal-body">

                    <div class="product_main" id='annotation_detail_main'>
                      <div class="product_window product_window_image">
                        <div class="col-gallery" id="gallery_modal">

                        </div>
                      </div>




                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="loading" id="loading_div">
              <i class="fa fa-spinner fa-spin"></i>
            </div>


            <div class="x_title">
              <h2>{{ category }} <small>{{ page_title }}</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-info-circle"></i></a>
                </li>
                <li><a onclick="changeGallerySize(1.25);"><i class="fa fa-search-plus"></i></a>
                </li>
                <li><a onclick="changeGallerySize(0.8);"><i class="fa fa-search-minus"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" onclick="toggleProposalsAll();">Toggle bbox proposals</a>
                    </li>
                    <li><a href="#" onclick="zoomToggleAll();">Toggle Zoom All</a>
                    </li>
                  </ul>
                </li>
                <li><button type="button" class="btn btn-primary btn-sm" onclick="window.location.href=encodeURI('/annotations/{{ go_back_url }}?type={{ type }}&category={{ category }}{% if type == 'revise' %}&page={{ page }}{% endif %}');">
                    <i class="fa fa-mail-reply"> </i> Go Back
                </button></li>
                {% if type == 'revise' %}
                <li><button type="button" class="btn btn-info btn-sm" onclick="window.location.href=encodeURI('/annotations/gallery?type={{ type }}&category={{ category }}&page={{ max(page - 1, 1) }}&max_pages={{ max_pages }}');">
                  <i class="fa fa-chevron-left"> </i>
                </button></li>
                <li><button type="button" class="btn btn-default btn-sm" onclick="window.location.href=encodeURI('/annotations/gallery?type={{ type }}&category={{ category }}&page={{ page }}&max_pages={{ max_pages }}');">
                  {{ page }}
                </button></li>
                <li><button type="button" class="btn btn-info btn-sm" onclick="window.location.href=encodeURI('/annotations/gallery?type={{ type }}&category={{ category }}&page={{ min(page + 1, max_pages) }}&max_pages={{ max_pages }}');">
                  <i class="fa fa-chevron-right"> </i>
                </button></li>
                {% endif %}
                <li><button type="button" class="btn btn-success btn-sm" onclick="sendData('{{ type }}');">
                    <i class="fa fa-cloud-upload"> </i> Submit
                </button></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="row-gallery">

                {% for db_id, annotations_list in annotations.items() %}
                {% for annotation in annotations_list %}
                <div class="col-gallery" id="gallery{{ db_id }}_{{ annotation.id }}" onclick="setFocus('{{ db_id }}_{{ annotation.id }}');">
                  <div class="panel-gallery">
                    <div class="col-xs-12 bottom text-center">
                      <div class="col-xs-12 col-sm-3 emphasis" id="button_1_{{ db_id }}_{{ annotation.id }}">
                        <button type="button" class="btn btn-danger btn-xs" onclick="markToDelete('{{ db_id }}_{{ annotation.id }}');" id="delete{{ db_id }}_{{ annotation.id }}">
                          <i class="fa fa-remove"> </i> Delete
                        </button>
                      </div>
                      <div class="col-xs-12 col-sm-3 emphasis" id="button_2_{{ db_id }}_{{ annotation.id }}">
                        <button type="button" class="btn btn-warning btn-xs" onclick="resetAnnotation('{{ db_id }}_{{ annotation.id }}');" id="undo{{ db_id }}_{{ annotation.id }}">
                          <i class="fa fa-undo"> </i> Reset
                        </button>
                      </div>
                      <div class="col-xs-12 col-sm-3 emphasis" id="button_3_{{ db_id }}_{{ annotation.id }}">
                        <button type="button" class="btn btn-info btn-xs" onclick="zoomToggle('{{ db_id }}_{{ annotation.id }}');" id="zoom{{ db_id }}_{{ annotation.id }}">
                          <i class="fa fa-search"> </i> Zoom
                        </button>
                      </div>
                      <div class="col-xs-12 col-sm-3 emphasis" id="button_4_{{ db_id }}_{{ annotation.id }}">
                        <button type="button" class="btn btn-primary btn-xs" onclick="showDetails('{{ db_id }}_{{ annotation.id }}');" id="details{{ db_id }}_{{ annotation.id }}" {% if len(annotation.bounding_box_proposals) < 2 %}disabled{%endif%}>
                          <i class="fa fa-edit"> </i> Details
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="image-gallery-container" onclick="setFocus('{{ db_id }}_{{ annotation.id }}');">
                    <div class="image_container" id="main{{ db_id }}_{{ annotation.id }}">
                      <div class="image_canvas" id="canvas{{ db_id }}_{{ annotation.id }}">
                        <svg class="image_svg_canvas" id="svg{{ db_id }}_{{ annotation.id }}" viewBox="0 0 {{ annotation.image.width }} {{ annotation.image.height }}" >
                          <defs>
                            <pattern id="ima{{ db_id }}_{{ annotation.id }}" patternUnits="userSpaceOnUse" width="{{ annotation.image.width }}" height="{{ annotation.image.height }}">
                            <image href="{{ url_for('static', filename='datasets/{}/{}'.format(db_names[db_id], annotation.image.name)) }}" x="0" y="0" width="{{ annotation.image.width }}" height="{{ annotation.image.height }}" />
                          </defs>
                          <rect 
                            onmousemove="onMouseMove(evt, '{{ db_id }}_{{ annotation.id }}');"
                            onwheel="onMouseWheel(evt, '{{ db_id }}_{{ annotation.id }}');"
                            onmousedown="onMouseDown(evt, '{{ db_id }}_{{ annotation.id }}', 'canvas');" 
                            class="image_svg_image_rect" 
                            fill="url(#ima{{ db_id }}_{{ annotation.id }})" 
                            x="0" 
                            y="0" 
                            width="{{ annotation.image.width }}" 
                            height="{{ annotation.image.height }}" 
                            id='{{ db_id }}_{{ annotation.id }}'/>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="panel-gallery">
                    <div class="col-xs-12 bottom text-center">
                      <div class="col-xs-12 col-sm-6">
                        {% for index, category in enumerate(remove_duplicates_in_category_proposals(annotation.category_proposals)) %}
                        <div class="radio">
                          <label>
                            <input type="radio" id="cat_check_{{ db_id }}_{{ annotation.id }}_{{ index }}" name="cat_check_{{ db_id }}_{{ annotation.id }}"  onclick="setCategoryByIndex('{{ db_id }}_{{ annotation.id }}', {{ index }});"> {{ category['name'] }}
                          </label>
                        </div>
                        {% endfor %}
                        <div class="radio">
                          <label>
                            <input type="radio" id="cat_check_{{ db_id }}_{{ annotation.id }}_category_sel" name="cat_check_{{ db_id }}_{{ annotation.id }}" onclick="setCategoryByIndex('{{ db_id }}_{{ annotation.id }}', -1);"><select class="radio" id="cat_select_{{ db_id }}_{{ annotation.id }}" onchange="setCategoryByIndex('{{ db_id }}_{{ annotation.id }}', -1);">
                              <option disabled selected value> -- select an option -- </option>
                              <optgroup label="Proposals">
                              {% for category in remove_duplicates_in_category_proposals(annotation.category_proposals) %}
                              <option>{{ category['name'] }}</option>
                              {% endfor %}
                              </optgroup>
                              <optgroup label="Order alphabetical">
                              {% for category, id in categories.items() %}
                              <option>{{ category }}</option>
                              {% endfor %}
                              </optgroup>
                            </select>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        {% for index, bbox in enumerate(annotation.bounding_box_proposals) %}
                        <div class="radio">
                          <label>
                            <input type="radio" id="bbox_check_{{ db_id }}_{{ annotation.id }}_{{ index }}" name="bbox_check_{{ db_id }}_{{ annotation.id }}" onclick="setBboxByIndex('{{ db_id }}_{{ annotation.id }}', {{ index }});"> {{ '[{}, {}, {}, {}]'.format(bbox.x, bbox.y, bbox.width, bbox.height) }}
                          </label>
                        </div>
                        {% endfor %}
                        <div class="radio">
                          <label>
                            <input type="radio" id="bbox_check_{{ db_id }}_{{ annotation.id }}_custom" name="bbox_check_{{ db_id }}_{{ annotation.id }}" disabled> Custom
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  var category_proposals_ids = [];
                  var category_proposals = [];
                  var bbox_proposals_ids = [];
                  var bbox_proposals = [];
                  var selected_category = 0;
                  var selected_bbox = 0;

                  {% for category in remove_duplicates_in_category_proposals(annotation.category_proposals) %}
                  category_proposals_ids.push({{ category['id'] }});
                  category_proposals.push('{{ category['name'] }}');{% endfor %}

                  selected_category = category_proposals.indexOf('{{ category }}');

                  {% for index, bbox in enumerate(annotation.bounding_box_proposals) %}
                  bbox_proposals_ids.push({{ bbox.id }});
                  bbox_proposals.push([{{ bbox.x }}, {{ bbox.y }}, {{ bbox.width }}, {{ bbox.height }} ]);
                  {% if bbox.id_annotation_source == 1 %}selected_bbox = {{index}};{% endif %}{% endfor %}

                  {% if type == 'revise' and sel_proposal_dict[db_id][annotation.id].bbox and sel_proposal_dict[db_id][annotation.id].category %}

                  var user_bbox_id = {{sel_proposal_dict[db_id][annotation.id].bbox.id}};
                  var user_bbox = [{{ sel_proposal_dict[db_id][annotation.id].bbox.x }}, {{ sel_proposal_dict[db_id][annotation.id].bbox.y }}, {{ sel_proposal_dict[db_id][annotation.id].bbox.width }}, {{ sel_proposal_dict[db_id][annotation.id].bbox.height }} ];

                  var user_category = '{{ sel_proposal_dict[db_id][annotation.id].category.category.name }}';
                  var user_category_id = {{ sel_proposal_dict[db_id][annotation.id].category.id }};

                  var user_category_indx = category_proposals_ids.indexOf(user_category_id);
                  if (user_category_indx > -1 ) {
                    selected_category = user_category_indx;
                  } else {
                    category_proposals_ids.push(user_category_id);
                    category_proposals.push(user_category);
                    selected_category = category_proposals.length - 1;
                  }

                  var user_bbox_indx = bbox_proposals_ids.indexOf(user_bbox_id);
                  if (user_bbox_indx > -1 ) {
                    selected_bbox = user_bbox_indx;
                  } else {
                    bbox_proposals_ids.push(user_bbox_id);
                    bbox_proposals.push(user_bbox);
                    selected_bbox =bbox_proposals.length - 1;
                  }

                  {% endif %}

                  addGalleryElement('{{ db_id }}_{{ annotation.id }}', category_proposals, category_proposals_ids, bbox_proposals, bbox_proposals_ids, selected_category, selected_bbox);

                  {% if type == 'revise' %}
                  {% if sel_proposal_dict[db_id][annotation.id].id_state == states['Delete'] %}
                  markToDelete('{{ db_id }}_{{ annotation.id }}');
                  {% endif %}
                  {% endif %}
                </script>
                {% endfor %}
                {% endfor %}
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="x_title">
              <div class="clearfix"></div>
              <h2><small>{{ category }}</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><button type="button" class="btn btn-success btn-sm" onclick="sendData('{{ type }}');">
                    <i class="fa fa-cloud-upload"> </i> Submit
                </button></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <script>
      initSelection();
      default_category = '{{ category }}';
  </script>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('static', filename='vendors/validator/validator.js') }}"></script>
{% endblock javascripts %}
