.col-gallery {
    width: auto;
    margin-bottom: 10px;
    
}
@media (min-width: 600px) {
    .col-gallery {
        width: auto;
    }
}
@media (min-width: 1200px) {
    .col-gallery {
        width: auto;
    }
}

@media (min-width: 1400px) {
    .col-gallery {
        width: auto;
    }
}

.body-gallery{
    width: auto;
    vertical-align: top;
}

.row-gallery {
    margin-right: -10px;
    margin-left: -10px;
   /* text-align: justify;*/
}

.image-gallery-container {

    display: inline-block;
}

.panel-gallery {
    width: 100%;
    display: block;
    text-align: justify;
    margin-top: 5px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    height: 0px;
    background-color: orange;
}

.panel-element {
    display: inline-block;
    background-color: red;
    text-align: left;
}

.image-gallery {
    width: 100%; 
    display: block;
    
}

.col-gallery {
    position: relative;
    min-height: 1px;
    display:inline-block;
    padding: 4px;
    
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.image_canvas {
    top:0; 
    left:0;
    margin: 0px;
    padding: 0px;
    margin-bottom: -5px; /* Don't know why ...*/
}

.image_svg_canvas {
    width: 350px;
    height: 350px;
    padding: 0px;
    margin: 0px;

    border: 0px solid black;
}

.image_svg_image_rect {
    border:0px;
    fill-opacity: 1.0;
    stroke-opacity:1.0;
}

.image_svg_bbox {
    opacity: 1.0;
    fill:red;
    stroke:red;
    stroke-width:4;
    fill-opacity:0.3;
    stroke-opacity:1.0;
    /*pointer-events: none;*/
}

.image_svg_bbox_proposal {
    stroke:yellowgreen;
    stroke-width:4;
    stroke-opacity:0;
    pointer-events: none;
    fill: none;
}

.image_svg_bbox_proposal_show {
    stroke-opacity:0.8;
}

.image_svg_edit_top_left, 
.image_svg_edit_bottom_left, 
.image_svg_edit_top_right, 
.image_svg_edit_bottom_right{
    fill:red;
    stroke-width: 0;
    fill-opacity: 1;
}

.image_svg_edit_top_left:hover, .image_svg_edit_bottom_right:hover {
    cursor: nwse-resize;
}

.image_svg_edit_top_right:hover, .image_svg_edit_bottom_left:hover {
    cursor: nesw-resize;
}

.image_svg_bbox:hover {
    cursor: move;
}

.image_container {
    margin: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.container_selected {
    border: 1px solid rgb(0, 191, 255);
    box-shadow: 0 0 30px rgb(0, 191, 255);
    
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.container_remove {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    pointer-events: none;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.radio {
    font-size: 12px;
    padding: 0px;
    text-align: left;
    vertical-align: center;
}

.col-xs-12.bottom.text-center {
    
    /*margin: 0px;
    padding: 0px;*/
}

.col-xs-12.col-sm-6 {

    /*margin: 0px;
    padding: 0px;*/
}

/*
.label {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
}
*/
/*
.radio label {
    padding-left: 0px;
    background-color: blue;
    width: 100%;
}
*/
.radio select {
    display: inline-block;
    vertical-align: center;
    margin-top: -10px;
    background-color: white;
}

.input.flat {
    margin: 0px;
    padding: 0px;
    width: 0px;
    margin-left: 0px;
}

.modal-dialog-annotation_info {
    margin: 1% auto;
}

.modal-lg-annotation_info {
    width: 98%;
}

.modal-content {
    width: 100%;
    min-height: 1000px;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    font-size: 50px;
    color: white;
    padding-left: 50%;
    padding-top: 40%;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
 }

.product_main {
    
}

.product_window,.product_window_image {
    vertical-align: top;
    margin-left: 5px;
    width: 200px;
}

.product_window_image {
    width: 600;
}

.product_tool_box,.product_tool_box_auto,.product_tool_box_collapsed {
    /*margin: 5px;
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;*/
    height: 100px;
    overflow:hidden;

    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;

    margin-bottom: 10px;

    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

.product_tool_box_auto {
    height: auto;
}

.product_image_rectangle {
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.product_tool_box_collapsed {
    height: 48px;
    overflow:hidden;
}



.product_tool_box_title {
    font-weight: bold;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    padding: 10px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.product_tool_box_title_max {
    background: #26B99A;
    border: #169F85;
}

.product_tool_box_body {
    padding: 10px;
}

.product_tool_box_section {
}

.product_tool_box_section_title {
    margin-bottom: 5px;
    margin-top: -5px;
    font-weight: bold;
}

.product_tool_box_section_body {
    text-align: center;
}

.product_tool_box_button {
    border: 0px;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 18px;
    float: right;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    margin-top: -5px;
}

.product_tool_box_button_max {
    background-color: #26B99A;
    border-color: #169F85;
}

.product_tool_box_button:hover {
    color: lightgray;
}

.product_tool_box_button:active {
    color: gray;
}

.product_tool_box_button_element,.product_tool_box_select_element,.product_tool_box_checkbox_element {
    border:1px solid black;
    background-color:white;
    width: 70%;
    display: inline-block;
    padding: 2px;
    margin: 5px;
    text-align: left;
    background-color: lightgray;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

 
.product_divTable{
	display: table;
	width: 100%;
}
.product_divTableRow {
	display: table-row;
}
.product_divTableCell, .product_divTableHead, .product_divTableCellAt {
	display: table-cell;
    padding: 3px 3px;
    font-size: 80%;
}

.product_divTableCellAt {
    font-weight: bold;
    text-align: right;
}

.product_divTableCell {
    text-align: left;
    word-wrap: normal;
    width: 100px;
}

.product_divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.product_divTableBody {
	display: table-row-group;
}

/* Tooltip container */
.show_rect_check {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 25px;
    text-align: center;
    line-height: 1.5;
    border-radius: 3px;
    padding-left: 1px;   
    /*border-bottom: 1px dotted black;  */
}

.product_tool_box_checkbox_element {
    width: auto;
    opacity: 1;   
}

.btn-category {
    width: 80%;
}