{% extends "base_site.html" %} {% block title %} Add new user {% endblock title %} {% block stylesheets %} {{ super() }}
{% endblock stylesheets %} {% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>descens infantil</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Benvinguts!</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Tingueu en compta que aquesta és una versió preliminar i pot contenir errors.
                            Per començar sel·leccioneu alguna opció del menú lateral.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} {{ super() }}
<!-- validator -->
{% endblock javascripts %}