sqlalchemy
flask
flask_cors
flask_login
flask_user==0.6.9
pymysql
paramiko
PyYAML
jinja2
httplib2
passlib
bcrypt
tmdbsimple
selenium
future
numpy
pillow
pyopenssl
unidecode==1.1.1
python-docx==0.8.10
pdfkit==0.6.1
PyQt5==5.13.2
PyQtWebEngine==5.13.2
cryptography
