    html_output += '<div class="product_window">\n';
    html_output += '    <div class="product_tool_box_auto" id=\'cluster_' + cluster [' id '] + '\'>\n';
    html_output += '        <div class="product_tool_box_title">Cluster ' + cluster ['id'] + '\n';
    html_output += '            <button class="product_tool_box_button" onclick="swap_collapse(\'cluster_' + cluster ['id'] + '\');">&#9726;</button>\n';
    html_output += '        </div>\n';
    html_output += '        <div class="product_tool_box_body">\n';
    html_output += '            <div class="product_tool_box_section">\n';
    html_output += '                <div class="product_tool_box_section_title">Information</div>\n';
    html_output += '                <div class="product_tool_box_section_body">\n';
    html_output += '                    <div class="product_divTable">\n';
    html_output += '                        <div class="product_divTableBody">\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">is max: </div>\n';
    html_output += '                                <div class="product_divTableCell">{% if cluster ['is_max'] %}true{% else %}false{% endif %}</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">score: </div>\n';
    html_output += '                                <div class="product_divTableCell">' + \'{:.4f}\'.format(cluster ['score']) + '</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">count: </div>\n';
    html_output += '                                <div class="product_divTableCell">' + cluster ['count'] + '</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">nscore: </div>\n';
    html_output += '                                <div class="product_divTableCell">' + \'{:.4f}\'.format(cluster ['nscore']) + '</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">detectors: </div>\n';
    html_output += '                                <div class="product_divTableCell">\n';
    html_output += '                                    ' + cluster ['detectors'][0] + '{% for detector in cluster ['detectors'][1:] %}, ' + detector + '{% endfor%}\n';
    html_output += '                                </div>\n';
    html_output += '                            </div>\n';
    html_output += '                        </div>\n';
    html_output += '                    </div>\n';
    html_output += '                </div>\n';
    html_output += '            </div>\n';
    html_output += '        </div>\n';
    html_output += '        <div class="product_tool_box_body">\n';
    html_output += '            <div class="product_tool_box_section">\n';
    html_output += '                <div class="product_tool_box_section_title">Proposed</div>\n';
    html_output += '                <div class="product_tool_box_section_body">\n';
    html_output += '                    <button class="product_tool_box_button_element" type="button" onclick="set_bbox(' + cluster ['bbox'] + ');set_category(\'' + cluster ['categories'][0] ['name'] + '\');">{{cluster ['categories'][0] ['name']}}</button>\n';
    html_output += '                    <div class="tooltip" id=\'check' + cluster [' color_id '] + '\'>\n';
    html_output += '                        <input class="product_tool_box_checkbox_element" type="checkbox" onclick="show_rectangle(\'' + cluster ['color_id'] + '\', ' + cluster ['bbox'] + ', ' + annotation_info ['image'] ['width'] + ', ' + annotation_info ['image'] ['height'] + ', ' + cluster ['color_id'] + ', ' + color_counter + ');"></input>\n';
    html_output += '                        <span class="tooltiptext">Show bounding box</span>\n';
    html_output += '                    </div>\n';
    html_output += '                </div>\n';
    html_output += '            </div>\n';
    html_output += '        </div>\n';
    html_output += '        <div class="product_tool_box_body">\n';
    html_output += '            <div class="product_tool_box_section">\n';
    html_output += '                <div class="product_tool_box_section_title">Categories</div>\n';
    html_output += '                {% for cat_data in cluster ['categories'] %}\n';
    html_output += '                <div class="product_tool_box_section_body">\n';
    html_output += '                    <button class="product_tool_box_button_element" type="button" onclick="set_bbox(' + cat_data ['bbox'] + ');set_category(\'' + cat_data ['name'] + '\');">{{cat_data ['name']}}</button>\n';
    html_output += '                    <div class="tooltip" id=\'check' + cat_data [' color_id '] + '\'>\n';
    html_output += '                        <input class="product_tool_box_checkbox_element" type="checkbox" onclick="show_rectangle(\'' + cat_data ['color_id'] + '\', ' + cat_data ['bbox'] + ', ' + annotation_info ['image'] ['width'] + ', ' + annotation_info ['image'] ['height'] + ', ' + cat_data ['color_id'] + ', ' + color_counter + ');"></input>\n';
    html_output += '                        <span class="tooltiptext">Show bounding box</span>\n';
    html_output += '                    </div>\n';
    html_output += '                    <div class="product_divTable">\n';
    html_output += '                        <div class="product_divTableBody">\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">score: </div>\n';
    html_output += '                                <div class="product_divTableCell">' + \'{:.4f}\'.format(cat_data ['score']) + '</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">count: </div>\n';
    html_output += '                                <div class="product_divTableCell">' + cat_data ['count'] + '</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">nscore: </div>\n';
    html_output += '                                <div class="product_divTableCell">' + \'{:.4f}\'.format(cat_data ['nscore']) + '</div>\n';
    html_output += '                            </div>\n';
    html_output += '                            <div class="product_divTableRow">\n';
    html_output += '                                <div class="product_divTableCellAt">detectors: </div>\n';
    html_output += '                                <div class="product_divTableCell">\n';
    html_output += '                                    ' + cat_data ['detectors'][0] ['name'] + '{% for detector in cat_data ['detectors'][1:] %}, ' + detector ['name'] + '{% endfor%}\n';
    html_output += '                                </div>\n';
    html_output += '                            </div>\n';
    html_output += '                        </div>\n';
    html_output += '                    </div>\n';
    html_output += '                </div>\n';
    html_output += '                {% endfor %}\n';
    html_output += '            </div>\n';
    html_output += '        </div>\n';
    html_output += '    </div>\n';
    html_output += '</div>\n';
    html_output += '<script>swap_collapse(\'cluster_' + cluster ['id'] + '\'); {% if index > 3 %} swap_collapse(\'cluster_' + cluster ['id'] + '\'); {% endif %}</script>\n';