{% extends "base_site.html" %} {% block title %} Progress {% endblock title %} {% block stylesheets %} {{ super() }}
<link href="{{ url_for('static', filename='css/annotation_selectors.css') }}" rel="stylesheet"> {% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Annotation Progress</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% if sum_total != 0 %}
                        <p>In here you can see some statistics of your progress.</p>
                        <div class="graph_container">
                            <div class="time_container">
                                <canvas id="annotations_per_day"></canvas>
                            </div>
                        </div>
                        <div class="graph_container">
                            <div class="small_container">
                                <canvas id="total_count"></canvas>
                            </div>
                        </div>
                        <!--
                        <div class="graph_container">
                            { for cat, id in category_dict.items() }
                            { if cat != '__background__' and remaining['total'][cat] > 0 }
                            <div class="very_small_container">
                                <canvas id="canvas_for_{ cat }"></canvas>
                            </div>
                            { endif }
                            { endfor }
                        </div>
                        -->

                        {% else %}
                        <p>At the moment you don't have any work assigned.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="clearfix"></div>
{% endblock content %} {% block javascripts %} {{ super()}}

<script src="{{ url_for('static', filename='vendors/chroma/chroma.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/annotation_selectors.js') }}"></script>

<script>
    {% if sum_total != 0 %}
    var accum_user = 0;
    var accum_total = 0;
    
    labels_pie = ['Done', 'Remaining'];

    var day_labels = [];
    var day_count = [];

    {% for day, num_ann in annotations_per_day.items() %}
    day_labels.push(moment('{{ day }}', "YYYY-MM-DD"));
    day_count.push({{ num_ann }});
    {% endfor %}

    drawTimeSeries('annotations_per_day', day_labels, day_count);

    /*
    { for cat, id in category_dict.items() }
    { if cat != '__background__' and remaining['total'][cat] > 0 }
    var user = { remaining['user'][cat] };
    var total = { remaining['total'][cat] };
    var data_pie = [user, (total - user)];

    accum_user += user;
    accum_total += total;

    drawPie('canvas_for_{ cat }', data_pie, labels_pie, '{ cat }');
    { endif }
    { endfor }
    */

    var accum_user = {{ sum_user }};
    var accum_total = {{ sum_total }};
    var data_pie = [accum_user, (accum_total - accum_user)];
    drawPie('total_count', data_pie, labels_pie, 'Total progress');
    {% endif %}
</script> {% endblock javascripts %}