{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/annotation_selectors.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Annotation Corrector</h2>
              <ul class="nav navbar-right panel_toolbox">
                {% if type == 'correct' %}{% if sum_total != sum_user %}
                <li>
                    <select class="form-control" id="cat_select">
                    </select>  
                  </li>
                <li><button type="button" class="btn btn-success btn-sm" onclick="goButtonCorrector('cat_select');" id="button_go">
                    <i class="fa fa-sign-in"> </i> Go!
                  </button></li>
                {% endif %}
                {% else %}{% if sum_user > 0 %}
                <li>
                  <select class="form-control" id="cat_select" onchange="updatePages('cat_select', 'sel_page');">
                  </select>  
                </li>
                <li>
                  <select class="form-control" id="sel_page">
                  </select>  
                </li>
                <li><button type="button" class="btn btn-success btn-sm" onclick="goButtonRevise('cat_select');" id="button_go">
                    <i class="fa fa-sign-in"> </i> Go!
                  </button></li>
                  {% endif %}{% endif %}
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              {% if (type == 'correct' and sum_total == sum_user) or (type == 'revise' and sum_user == 0) %}
              {% if type == 'revise' %}
              {% if sum_total == 0 %}
              <p>At the moment you don't have any work assigned.</p>
              {% else %}
              <p>At the moment you haven't corrected any annotation.</p>
              {% endif %}
              {% else %}
              {% if sum_total == 0 %}
              <p>At the moment you don't have any work assigned.</p>
              {% else %}
              <p>Congratulations you have revised all the annotations!</p>
              {% endif %}
              {% endif %}
              {% else %}
              <p>Select the category that you want to validate and then press the <i>Go</i> button. You can click directly on the graphs bars to select the category.</p>
              {% if type == 'revise' %}
              <p>The second selector let you specify the page that you want to revise.</p>
              {% endif %}
              <div class="summary_cat" id="graphic_div">
                <canvas id="summary_cat_count"></canvas>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="clearfix"></div>
  
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('static', filename='vendors/chroma/chroma.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/annotation_selectors.js') }}"></script>
  <script>  
      {% if (type == 'correct' and sum_total != sum_user) or (type == 'revise' and sum_user != 0) %}
      {% for cat, id in category_dict.items() %}
      var user = {{ remaining['user'][cat] }};
      var total = {{ remaining['total'][cat] }};
      var difference = total - user;
  
      {% if type == 'correct' %}
      if ( difference != 0) {
      {% else %}
      if ( user > 0 ) {
      {% endif %}
        categories.push('{{ cat }}');
        user_count.push(user);
        total_count.push(total);
        difference_count.push(difference);
      }
      {% endfor %}
  
      {% if type == 'revise' %}
      imagesPerPage = {{ images_per_page }};
      {% endif %}
  
      populateSelect('cat_select', categories, '{{ category }}');
  
      var colors = chroma.scale(['#26b99ae0','#3498dbe0']).mode('lch').colors(2);
      datasets = [];
      var dataset_done = {
        label: 'Done',
        data: user_count,
        backgroundColor: colors[0]
      };
  
      var dataset_remaining = {
        label: 'Remaining',
        data: difference_count,
        backgroundColor: colors[1]
      };
  
      datasets.push(dataset_done);
      datasets.push(dataset_remaining);
  
      {% if type == 'correct' %}
      var title = "Remaining Categories to check";
      {% else %}
      var title = "Categories that have been revised";
      {% endif %}
  
      adjustGraphicHeight("graphic_div", categories);
      drawMultiHorizontalBar("summary_cat_count", datasets, categories, title, chartCategoriesOnClick);
      {% endif %}
    </script>
  </script>
  <!-- Chart.js -->
{% endblock javascripts %}
