[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
httplib2 = "*"
passlib = "*"
bcrypt = "*"
tmdbsimple = "*"
selenium = "*"
future = "*"
numpy = "*"
eventlet = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-Cors = "*"
Flask-Login = "*"
Flask-User = "==0.6.9"
PyMySQL = "*"
PyYAML = "*"
Jinja2 = "*"
Pillow = "*"
pyOpenSSL = "*"
Flask-SocketIO = "*"

[dev-packages]

[requires]
python_version = "3.6"
