{% extends "base_site.html" %} {% block title %} Add new user {% endblock title
%} {% block stylesheets %} {{ super() }}

<link
  href="{{ url_for('statistics.static', filename='css/statistics.css', session=config.SESSION_UID) }}"
  rel="stylesheet"
/>
{% endblock stylesheets %} {% block content %}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{ blocale.organizers_title }}</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{ blocale.times_as_chief_of_course }}</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="x_content">
              <canvas id="times_as_chief_of_course"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{blocale.times_as_start_referee}}</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="x_content">
              <canvas id="times_as_start_referee"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{ blocale.times_as_finish_referee }}</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="x_content">
              <canvas id="times_as_finish_referee"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
</div>
{% endblock content %} {% block javascripts %} {{ super() }}

<script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('statistics.static', filename='js/statistics_organizers.js') }}"></script>

<!-- validator -->
{% endblock javascripts %}
