{% extends "base_site.html" %}

{% block title %}{{ page_title }}{% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
{% block extrastyles %}
<link href="{{ url_for('editions.static', filename='css/editions_edit.css') }}" rel="stylesheet">
{% endblock extrastyles %}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{ page_title }}</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
              {% if edition %}<input type="hidden" name="edition_id" value="{{ edition.id }}">{% endif %}
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="edition">{{ blocale.edition }} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input {% if edition and edition.edition %}value="{{ edition.edition }}" {% endif %} type="number" id="edition" name="edition" class="form-control col-md-7 col-xs-12" required="required">
                </div>
              </div>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="year">{{ blocale.year }} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input {% if edition %}value="{{ edition.year }}" {% endif %} id="year" type="number" class="date-own form-control col-md-7 col-xs-12" name="year" required="required">
                </div>
              </div>
              
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chief_of_course">{{ blocale.chief_of_course }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" id="chief_of_course_div">
                  <input {% if edition and edition.chief_of_course %}value="{{ edition.chief_of_course.full_name }}" {% endif %} type="text" id="chief_of_course" name="chief_of_course" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start_referee">{{ blocale.start_referee }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" id="start_referee_div">
                  <input {% if edition and edition.start_referee %}value="{{ edition.start_referee.full_name }}" {% endif %} type="text" id="start_referee" name="start_referee" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="finish_referee">{{ blocale.finish_referee }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" id="finish_referee_div">
                  <input {% if edition and edition.finish_referee %}value="{{ edition.finish_referee.full_name }}" {% endif %} type="text" id="finish_referee" name="finish_referee" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="picture">{{ blocale.picture }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="file" name="picture" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="import">{{ blocale.import }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="checkbox" id="import" name="import" class="form-control flat align-middle">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <button type="reset" class="btn btn-primary">{{ locale.base.cancel }}</button>
                  <button id="send" type="submit" class="btn btn-success">{{ locale.base.submit }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="loading" id="page_loading">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script>
    var request = new XMLHttpRequest();
    request.open("GET","{{ url_for('static', filename='locale/validator_{}.json'.format(locale.user_locale)) }}", false);
    request.send(null);
    var message_locale = JSON.parse(request.responseText);
</script>
<!-- validator -->
<script src="{{ url_for('static', filename='vendors/validator/validator.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/typeahead.js/dist/typeahead.jquery.min.js') }}"></script>
<script src="{{ url_for('editions.static', filename='js/editions_edit.js') }}"></script>
<script>
  $(document).ready(function() {
    setupPage("{{ locale.user_locale }}", {% if edition %}true{% else %}false{% endif %});
  });
</script>

{% endblock javascripts %}