{% extends "base_site.html" %} {% block title %} Add Database Wizard {% endblock title %} {% block stylesheets %} {{ super()
}}


<link href="{{ url_for('static', filename='vendors/vakata-jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/database_add.css') }}" rel="stylesheet"> {% endblock stylesheets %} {% block content %}
<!--form  method="post" enctype="multipart/form-data" -->
<div class="right_col" role="main">
    <div class="" id="page_content">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Database Wizard</h3>
            </div>
        </div>

        <div class="loading" id="page_loading">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="loading" id="loading_div">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="x_content">
                        <!-- Smart Wizard -->
                        <p>This wizard will guide you to add a new scrapped database into this application.</p>
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            Import type
                                            <br />
                                            <small>Select the method to
                                                <br />import a database</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2" id="step2_ref">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            Details
                                            <br />
                                            <small>Fill the needed
                                                <br />information</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                            Check
                                            <br />
                                            <small>Check database
                                                <br /> integrity</small>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="step-1">
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                            Methods to
                                            <br />import a database
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" checked value="1" id="step1_method1" name="optionsMethod" onclick="stepCheckSelected('method1');"> Upload SQLite files
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="2" id="step1_method2" name="optionsMethod" onclick="stepCheckSelected('method2');"> Setup a mySQL database
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-2">
                                <div id=step2_method1 name="step_content" class="hide_content">
                                    <h2 class="StepTitle">Import SQLite databases</h2>
                                    <p>
                                        Drop the SQLite databases in the box below,
                                        <b>names must be uniques</b>. The accepted file types are
                                        <it>sqlite</it> or
                                        <it>db</it>.
                                    </p>
                                    <form action="/databases/upload" class="dropzone" id="dropzone_method1"></form>

                                    <br />
                                </div>
                                <div id=step2_method2 name="step_content" class="hide_content">
                                    <h2 class="StepTitle">Setup a mySQL database</h2>
                                    <p>
                                        Enter the mySQL database details.
                                    </p>
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="database-name_method2">Database Name
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="database-name_method2" placeholder="mySQL database name" name="database-name_method2" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="database-host_method2">Host
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="database-host_method2" placeholder="mySQL host name" name="database-host_method2" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username_method2">User name
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="username_method2" class="form-control col-md-7 col-xs-12" name="username_method2" placeholder="mySQL user name" required="required"
                                                    type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="password_method2" class="control-label col-md-3 col-sm-3 col-xs-12">Password
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="password_method2" type="password" name="password_method2" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="password2_method2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="password2_method2" type="password" name="password2_method2" required="required" data-validate-linked="password_method2" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="step-3">
                                <div id=step3_method12 name="step_content" class="hide_content">
                                    <h2 class="StepTitle">Checking integrity</h2>
                                    <p>
                                        Checking the integrity of the given databases. Only the databases that passes this test will be added to the system.
                                    </p>
                                    <table class="table table-striped projects" id="table_integrity">
                                        <thead>
                                            <tr>
                                                <th style="width: 15%;">Name</th>
                                                <th style="width: 75px;">Type</th>
                                                <th style="width: 300px;">Progress</th>
                                                <th style="width: 75px;">Status</th>
                                                <th>Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a>db1.sqlite</a>
                                                </td>
                                                <td>
                                                    <img src="/static/images/sql/mysql.jpg" class="avatar" alt="Avatar">
                                                </td>
                                                <td class="project_progress">
                                                    <div class="progress progress_sm">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="25" style="width: 25%;" aria-valuenow="25"></div>
                                                    </div>
                                                    <small>25% Complete</small>
                                                </td>
                                                <td>
                                                    <div class="btn btn-success btn-xs">Success</div>
                                                </td>
                                                <td>
                                                    Problems found:
                                                    <br />
                                                    <ul>
                                                        <li>The problems found was bla bla bla</li>
                                                        <li>The problems found was bla bla bla</li>
                                                        <li>The problems found was bla bla bla</li>
                                                        <li>The problems found was bla bla bla</li>
                                                    </ul>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--/form-->
{% endblock content %} {% block javascripts %} {{ super() }}
<!-- jQuery Smart Wizard -->
<script src="{{ url_for('static', filename='vendors/validator/validator.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/database_add.js') }}"></script>

<script>
    setupDropzone();
    setupSmartWizard();
    stepCheckSelected('method1');

    initPage();
</script> {% endblock javascripts %}