{% extends "base_site.html" %}

{% block title %} {{ blocale.roles }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{ page_title }}</h3>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form class="form-horizontal form-label-left" method="post">
                {% if role %}<input type="hidden" name="id" value="{{ role.id }}">{% endif %}
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{{ blocale.name }}<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input {% if role and role.name %}value="{{ role.name }}"{% endif %} id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="name" placeholder="{{ blocale.name_placeholder }}" required="required" type="text">
                  </div>
                </div>

                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ blocale.pages }}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="select2_multiple form-control col-md-7 col-xs-12" multiple="multiple" name="pages" id="pages">
                      {% if role %}
                        {% for page in pages %}
                          {% if page.name in  role_pages %}
                          <option value={{ page.id }} selected>{{ page.name }}</option>
                          {% else %}
                          <option value={{ page.id }}>{{ page.name }}</option>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for page in pages %}
                          <option value={{ page.id }}>{{ page.name }}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">{{ blocale.description }} 
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="description" name="description" class="form-control col-md-7 col-xs-12">{% if role and role.description %}{{ role.description }}{% endif %}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button id="send" type="submit" class="btn btn-success">{{ blocale.submit }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- validator -->
  <script>
    var request = new XMLHttpRequest();
    request.open("GET","{{ url_for('static', filename='locale/validator_{}.json'.format(locale.user_locale)) }}", false);
    request.send(null);
    var message_locale = JSON.parse(request.responseText);
  </script>

  <script src="{{ url_for('static', filename='vendors/validator/validator.js') }}"></script>

  <script>
  $('option').mousedown(function(e) {
    e.preventDefault();
    $(this).prop('selected', !$(this).prop('selected'));
    return false;
  });
  </script>
{% endblock javascripts %}
