:root {
    --transition-time: 0.30s;
}

.container-img-square {
    position: relative; 
    width: 150px;
    height: 150px;
    border: 1px solid #E6E9ED;
    object-fit: contain;
    margin-bottom:  5px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    float: right;
}

.profile_details .profile_view .right {
    margin-top: 0px;
    padding: 0px;
}

.grid-item {
    width: 460px;
    height: 220px;
}

.top_search {
    width: 200px;
}

.select_edition {
    width: 130px;
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.input-group {
    float: right;
}

.group-select {
    float: right;
}


.label_edition_select {
    margin-top: 7px;
    padding-right: 15px;
}

.opacity_0 {
    opacity: 0;
    -webkit-transition: all var(--transition-time) ease-in-out;
    -moz-transition: all var(--transition-time) ease-in-out;
    -ms-transition: all var(--transition-time) ease-in-out;
    -o-transition: all var(--transition-time) ease-in-out;
    transition: all var(--transition-time) ease-in-out;
}

.div-time-big,
.div-time-small {
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    color: rgb(85, 85, 85);
    height: 34px;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    vertical-align: middle;
    column-rule-color: rgb(85, 85, 85);
    caret-color: rgb(85, 85, 85);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 14px / 20px "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    outline: rgb(85, 85, 85) none 0px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

    background-color: white;
    display: inline-flex;
    border: 1px solid #ccc;
    color: #555;
}

.div-time-big input,
.div-time-small input {
    border: none;
    color: rgb(85, 85, 85);
    text-align: center;
    width: 35px;
}

.div-time-big input:hover,
.div-time-small input:hover {
    color: black;
}

.toolbar-button {
    width: 50px;
}

@font-face {
    font-family: bib_number;
    /*src: url(../fonts/62DRAGZ.otf) format("opentype");*/
    /*src: url(../fonts/pitstop-695c.ttf);*/
    src: url(../fonts/JerseyLetters.ttf);
}

@font-face {
    font-family: crono;
    /*src: url(../fonts/62DRAGZ.otf) format("opentype");*/
    /*src: url(../fonts/pitstop-695c.ttf);*/
    src: url(../fonts/DigitalDismay.otf);
}

.bib_number {
    font-family: bib_number;
    font-size: 75px;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0px;
}
.container-img-square-race {
    position: relative; 
    width: 100%;
    height: 100px;
    object-fit: contain;
    align-content: center;
  }
  
  .img-square-race {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
  }

.club-info {
    padding: 5px;
}

.div-time-big {
    font: normal normal 200 normal 82px / 120px crono;
    height: auto;
    color: rgb(200, 0, 0);
    margin-top: 10px;
    /*border-radius: 10px;/*
    background: rgb(0, 0, 0);

    /*border: 10px solid black;*/

    -moz-box-shadow:    inset 0 0 15px #c0c0c0;
    -webkit-box-shadow: inset 0 0 15px #c0c0c0;
    box-shadow:         inset 0 0 15px #c0c0c0;
}

.div-time-big input::placeholder,
.div-time-big input {
    width: 100px;
    color: rgb(200, 0, 0);
    background: transparent;
    

}

.div-time-big input:hover {
    color: rgb(255, 0, 0);
    /*box-shadow: 0 0 30px rgb(0, 191, 255);*/
    

}


.div-time-big input::selection,
.div-time-big input:focus {
    color: rgb(255, 0, 0);
    background-color: transparent;
}

.list-group-custom {
    margin-right: -40px;
    margin-left: -10px;
    margin-top: 10px;
    padding: 0px;
}

.custom-div {
    margin-left: -20px;
}

#custom-datatable {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#convert_to_pdf {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}