{% extends "base_site.html" %} {% block title %} Add Database Wizard {% endblock title %} {% block stylesheets %} {{ super()
}}


<link href="{{ url_for('static', filename='vendors/vakata-jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/database_add.css') }}" rel="stylesheet"> {% endblock stylesheets %} {% block content %}
<!--form  method="post" enctype="multipart/form-data" -->
<div class="right_col" role="main">
    <div class="" id="page_content">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Database Wizard</h3>
            </div>
        </div>

        <div class="loading" id="page_loading">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="loading" id="loading_div">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--/form-->
{% endblock content %} {% block javascripts %} {{ super() }}
<!-- jQuery Smart Wizard -->
<script src="{{ url_for('static', filename='vendors/validator/validator.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>-->
<script src="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.js') }}"></script>
<!-- jquery.inputmask -->
<script src="{{ url_for('static', filename='vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/database_add.js') }}"></script>

<script>
    //setupDropzone();
    //setupSmartWizard();
    //stepCheckSelected('method1');

    initPage();
</script> {% endblock javascripts %}